<div class="row">
    <div class="col-12">
        <h2>Listado de Usuarios</h2>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Apellido</th>                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of this.usuarios.data">
                    <th>
                        <img src="{{usuario.avatar}}" alt="" width="100px">
                    </th>
                    <th>{{usuario.first_name}}</th>
                    <th>{{usuario.last_name}}</th>                   
                    <th>
                        <button class="btn btn-sm btn-outline-danger me-2" (click)="delete(usuario.id)">Eliminar</button>
                        <button class="btn btn-sm btn-outline-secondary" (click)="update(usuario)">Editar</button>
                    </th>               
                </tr>
            </tbody>
        </table>
    </div>
</div>

