<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="container">        
        <a class="navbar-brand h2 ps-3" href="#">Act. Varias</a>
        
        <!-- Navbar-->
        <div class="text-end">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                <span class=" text-light">Proyectos</span>
            </button>
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                <span class="text-light">Sobre mi</span>
            </button>
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                <span class="text-light">Info</span>
            </button>
        </div>
        
    </div>    
</nav>
