.container{
    display: flex;
    max-width: 100%;
    border: 0.2rem solid orange;
}

.item{
    
}

.subdiv1{
    background-color: yellow;
}
.subdiv1{
    background-color: beige;
}
.subdiv1{
    background-color: blue;
}
.subdiv1{
    background-color: violet;
}
.subdiv1{
    background-color: chartreuse;
}
.subdiv1{
    background-color: orange;
}
.subdiv1{
    background-color: darkcyan;
}
.subdiv1{
    background-color: coral;
}