<form #miForm="ngForm" action="" (ngSubmit)="addVideo(miForm)">
    <div class="row">
        <div class="col-6">
            <label for="url">Url: </label>
            <input required [(ngModel)]="video.url" type="url" class="form-control" id="url">
            <label for="url">Categoria: </label>
            <select required id="category" [(ngModel)]="video.category">
                <option disabled selected>Elija una opcion</option>
                <option value="comedia">Comedia</option>
                <option value="musica">Musica</option>
                <option value="turismo">Turismo</option>
                <option value="gamer">Gamer</option>
                <option value="comida">Comida</option>
            </select>           
        </div>
        <div class="col-6">
            <label for="url">Titulo: </label>
            <input required type="text" [(ngModel)]="video.title" class="form-control" id="title">
            <label for="description">Descripcion: </label>
            <textarea id="description" [(ngModel)]="video.description" cols="60" rows="2"></textarea>
        </div>
        <button type="submit">Agregar</button>
    </div>    
</form> 