<h1 class="h2 text-center mt-4"> Proyecto 1. </h1>
<main class="container">
    <hr>
    <div class="row p-2">
        <div class="col-6">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control border-2" [(ngModel)]="inputValue" (keyup.enter)="addArr()" type="text" placeholder="">
                <label>Agregar tarea:</label>
            </div>
        </div>

        <div class="col-6">
            <p *ngIf="(tareas.length>0)" class="h4 text-center">Listado de tareas</p>
            <div class="row text-center " *ngFor="let i of [].constructor(long); let j = index">
                <div class="col-6">
                    <ul *ngFor="let value of tareas.slice(j * 12, j * 12 + 6); let k = index" class="list-group">
                        <div class="d-flex align-items-center">
                            <input class="mx-2" type="checkbox" name="task" [(ngModel)]="value.estado" id="tarea-{{value.id}}">
                            <input style="display: inline-block;" class="form-control" [ngClass]="{'text-decoration-line-through': !value.estado}" [(ngModel)]="value.nombre">
                            <button class="btn" (click)="deleteElem(value)">
                              <i class="fa-solid fa-trash fa-lg" style="color: #d24150;" title="Eliminar"></i>
                            </button>
                            <button class="btn" (click)="updateElem(value)">                             
                              <i class="fa-solid fa-pen-to-square" style="color: #00fb4f;" title="Editar"></i>
                            </button>
                        </div>                                               
                    </ul>
                </div>
                <div class="col-6">
                    <ul *ngFor="let value of tareas.slice(j * 12 + 6, j * 12 + 12); let k = index" class="list-group">
                        <div class="d-flex align-items-center">
                            <input class="mx-2" type="checkbox" name="task" [(ngModel)]="value.estado" id="tarea-{{value.id}}">
                            <input style="display: inline-block;" class="form-control" [ngClass]="{'text-decoration-line-through': !value.estado}" [(ngModel)]="value.nombre">
                            <button class="btn" (click)="deleteElem(value)">
                                <i class="fa-solid fa-trash fa-lg" style="color: #d24150;" title="Eliminar"></i>
                            </button>
                            <button class="btn" (click)="updateElem(value)">
                                <i class="fa-solid fa-pen-to-square" style="color: #00fb4f;" title="Editar"></i>
                            </button>
                        </div>                     
                    </ul>
                </div>                               
            </div>
        </div>
    </div>    
</main>
