div{
    width: 100%;
}

.jeje{
    width: 100%;
    height: 36rem;
}

.click-me{
    display: inline;
    margin-top: 2.5% 0 !important;
    margin-left: 75% !important;
}

h1{
    margin-left: 39%;
    padding-top: 15% !important;
}